@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-gray-light: #f9f9fa;
    --color-blue: #003f8c;
    --color-blue-dark: #0b214a;
    --color-white: #ffffff;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-gray-light);

}

h1 {
    font-size: 3.5em;
    margin: 0;
}

p {
    margin: 0;

    a {
        color: var(--color-blue-dark);

        &:hover {
            color: var(--color-blue);
        }

    }
}

section {
    width: 100vw;
    padding: 30px 0;
    position: relative;
}

.bg {
    &-test {
        background-color: rgb(0 255 255 / 30%);
    }
}

.d {
    &-block {
        display: block;
    }
}

.fw {
    &-100 {
        font-weight: 100;
    }

    &-300 {
        font-weight: 300;
    }

    &-400 {
        font-weight: 400;
    }

    &-500 {
        font-weight: 500;
    }

    &-700 {
        font-weight: 700;
    }

    &-900 {
        font-weight: 900;
    }
}

.mb {
    &-1 {
        margin-bottom: 0.25rem;
    }

    &-2 {
        margin-bottom: 0.5rem;
    }

    &-3 {
        margin-bottom: 1rem;
    }

    &-4 {
        margin-bottom: 1.5rem;
    }

    &-5 {
        margin-bottom: 3rem;
    }
}

.text {
    &-uppercase {
        text-transform: uppercase;
    }

    &-center {
        text-align: center;
    }

    &-blue {
        color: var(--color-blue);
    }

    &-blue-dark {
        color: var(--color-blue-dark);
    }
}

.cover {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;

    &-bg {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        width: 100vw;
        padding: 0;
        position: absolute;
        bottom: -20px;

        svg {
            display: inline-block;
            width: 570px;
            height: auto;
            fill: var(--color-blue);
            opacity: 0.1;
        }

    }
}